
@font-face {
    font-family: 'buttons-font'; 
    src: url('../assets/fonts/zmore/AkiraExpandedDemo.otf'); 
}


@font-face {
    font-family: 'logo-font'; 
    src: url('../assets/fonts/zmore/logo/basenue.ttf'); 
}


#navBarMain {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid orange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 70%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.8s;
}

#navBarMain:hover{
    opacity: 100%;
    border-bottom: 4px solid orange;
}


#navBarLinks{
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    font-family: buttons-font;
}

.navLink{
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    color: gray;
    border-radius: 20px;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 0.3s;
}

.navLink:hover{
    color: orange;
    padding: 14px;
    text-shadow: 0px 0px 10px orange;
}

#navBarImage{
    filter: grayscale(100%);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 0.3s;
}

#navBarTitle{
    font-family: logo-font;
    color: white;
}