body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}
  
.container {
    max-width: 800px;
    margin: auto;
    background: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
}
  
h1 {
    color: #ffa500;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
li {
    background: #2a2a2a;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.clone-url {
    font-family: monospace;
    color: #ccc;
    font-size: 0.9rem;
}
  
.download-btn {
    background-color: #ffa500;
    border: none;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in 0.2s
}
  
.download-btn:hover {
    background-color: #ffbb33;
}

#repo-name{
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
